@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(./assets/bg-pattern.svg);
    background-repeat:  no-repeat;
    height: 100vh;
    font-family: Manrope;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;                                                             
}

.circles{
    background-image: url(./assets/pattern-circles.svg);
    position: absolute;
    width: 145px;
    height: 146px;
    background-size: cover;
}
header{
    padding-top: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1{
    color: #293356;
text-align: center;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
 header p{
color: #848EAD;
text-align: center;
font-family: Manrope;

font-style: normal;
font-weight: 600;
line-height: 23px; /* 176.923% */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
    gap: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.pricing{
    display: flex;
    gap: 20px;
    flex-direction: column;
     align-items: center;
     padding: 32px;
}

.inputSlider{

    position: relative;
}
#inputRange{
    width: 279px;
    height: 8px;
    border-radius: 5px;
    background-color: #ECF0FB;
    -webkit-appearance: none;
}
#inputRange::-webkit-slider-thumb{
   -webkit-appearance: none;
   position: relative;
z-index: 3;
   width: 40px;
   height: 40px;
   background: #10D8C4;
   border-radius: 50%;
   box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
   background-image: url(./assets/icon-slider.svg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
}
#inputRange::-webkit-slider-thumb:hover{
    background: #24AEA1;
    background-image: url(./assets/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    cursor: pointer;
}
.rangeProgress{
    width: 50%;
    height: 8px;
    background-color: rgb(164, 243, 235);
    border-radius: 5px;
    position: absolute;
   top: 9px;
   left: 0;

}

#pageViews{
color: #848EAD;
text-align: center;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.714px;
text-transform: uppercase;

}


.monthly p{
color: #293356;
text-align: right;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: -0.8px;
}
span {
color: #848EAD;
text-align: center;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.monthly{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}



.billing{
    display: flex;
    justify-content: center;
    gap: 12px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.toogle{
    position: relative;
    width: 43px;
    height: 22px; 
    background:#CFD8EF;
    border-radius: 10px;
    
    
}
.toogle::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transition: 0.3s;
   
    
    transform: translateY(-50%);
}
.toogle.active::before{
    left: 30px;
    transition: 0.3s;
   
    
}
.toogle.active {
    background: #7AEADF;
}


.toogle:hover {
    cursor: pointer;
    background: #7AEADF;
}

h4{
    color: #848EAD;
text-align: center;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.rectangle{
    width: 41px;
    height: 19px;
text-align: center;
    border-radius: 9.5px;
    background: #FEEDE8;
    justify-content: center;
    align-items: center;
display: flex;
gap: 5px;

}
.rectangle p{

    color: #FF8D68;
text-align: center;
font-family: Manrope;
font-size: 10px;

font-style: normal;
font-weight: 800;
line-height: normal;
}
#discount {
    display: none;
    color: #FF8D68;
    text-align: center;
font-family: Manrope;
font-size: 10px;

font-style: normal;
font-weight: 800;

}

.line{
    margin-top: 30px;
    width: 100%;
    height: 2px;
    background: #ECF0FB;
}
.trial{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.checking{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h5{
color: #848EAD;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

button {
border: none;
color: #BECDFF;
text-align: center;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 170px;
height: 41px;
flex-shrink: 0;
border-radius: 20.5px;
background: #293356;
}
button:hover {
    cursor: pointer;
    color: white;
}


@media(min-width:1400px) {
    body{
        background-size: contain;
    }
    h1{
        width: 393px;
        font-size: 28px;
        font-style: normal;
    font-weight: 800;
    }
    header p {
        font-size: 15px;
    font-style: normal;
    font-weight: 600;
    }
    .container {
        margin-top: 150px;
        width: 540px;
        height: 397px;
     }
     .pricing{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
     }
     .inputSlider {
        order: 1;
     }
     #inputRange {
        width: 444px;
     }
    #DisplayRange{
        font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    #month{
        font-size: 16px;
    }
    #pageViews{
        font-size: 16px;
    }
    .rectangle {
        width: 80px;
    }
    #discount {
        display: block;
    }
    h4{
        width: 85px ;
        font-size: 12px;
    font-style: normal;
    font-weight: 600;
    }
    .billing {
        padding-left: 100px;
    }
    .trial{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
 button{
    margin-left: 100px;
 }


}

